<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UGotMoney.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C08068681BE6EA8D001C5B9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C080687F1BE6EA8E001C5B9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C080688A1BE6EA8E001C5B9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
